.main-header
  .main-header__left-box
    %p.main-header__left-box__current-group
      グループの名前
    %p.main-header__left-box__member-list
      Member：
      %p.main-header__left-box__member-list__member
        メンバー
  %a{href:"#"}
    .main-header__edit-btn
      Edit