.main-header
  .main-header__left-box
    %p.main-header__left-box__current-group
      = @group.name
    %p.main-header__left-box__member-list
      Member：
      %a.main-header__left-box__member-list__member
        - @group.users.each do|user|
          = user.name
  %a
    = link_to edit_group_path(@group) do
      .main-header__edit-btn
        Edit