.messages
  .message
    .message__upper-info
      .message__upper-info__talker
        name
      .message__upper-info__date 
        2019/07/05(Fri) 01:08:59
    %P.message__text 
      こんにちは ※最新のテキストの内容