.header
  .header__flash-box
    グループを作成しました
.wrapper
  .chat-side
    .chat-side__side-header
      .chat-side__side-header__box
        .chat-side__side-header__box__user-name
          %p name
        .chat-side__side-header__box__menu
          .chat-side__side-header__box__menu__new
            =link_to "#", class: "chat-side__btn" do
              = fa_icon 'edit'
          .chat-side__side-header__box__menu__edit-user
            =link_to "#", class: "chat-side__btn" do
              = fa_icon 'cog'
    .chat-side__groups
      .chat-side__groups__group
        %p.chat-side__groups__group__group-name グループの名前
        %p.chat-side__groups__group__latest-message 新着メッセージ
  .chat-main
    .main-header
      .main-header__left-box
        %p.main-header__left-box__current-group
          グループの名前
        %p.main-header__left-box__member-list
          Member：
          %p.main-header__left-box__member-list__member
            メンバー
      %a{href:"#"}
        .main-header__edit-btn
          Edit
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
            name
          .message__upper-info__date 
            2019/07/05(Fri) 01:08:59
        %P.message__text 
          こんにちは ※最新のテキストの内容

    .form
      .input-box
        %form
          %input#message-content.input-box__text{placeholder:"type a message"}
            %label.input-box__image
              = fa_icon 'picture-o', class: "image_file"
              %input#hidden{type:"file"}
      %a{href:"#"}
        %input{type:"submit",name:"commit", class:"submit-btn", value:"Send"}

