$accent-color: #38AEF0;

* {
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  height: 24px;
  width: 100%;
  background-color: $accent-color;
  &__flash-box {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
  }
}

.wrapper {
  .chat-side {
    width: 300px;
    color: white;
    float: left;
    &__side-header{
      background-color: #253141;
      padding: 0 20px;
      height: 100px;
      align-items: center;
      display: flex;
      &__box{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__menu {
          list-style: none;
          display: flex;
        }
      }
    }
    &__btn {
      color: white;
      margin-left: 0.3rem;
    }
    &__groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      :link {
        color: white;
      }
      :visited {
        color: white;
      }
      &__group {
        margin-bottom: 40px;
        &__group-name {
          font-size: 15px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        &__latest-message {
          font-size: 11px;
        }
      }
    }
  }

  .chat-main {
    width: calc(100% - 300px);
    float: left;
    position: relative;
    .main-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list {
        font-size: 12px;
        color: #999;
        display: flex;
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $accent-color;
      color: $accent-color;
      position: absolute;
      right: 40px;
      :link {
        color: $accent-color;
      }
      :visited{
        color: $accent-color;
      }
  }
}

    .messages {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message {
        padding-bottom: 40px;
        &__upper-info {
          margin-bottom: 10px;
          display: flex;
          &__talker {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            font-size: 12px;
            color: #999;
            margin-left: 10px;
          }
        }
            &__text {
              color: #434a54;
              font-size: 14px;
              margin-bottom: 10px;
        }
      }
    }
    .form {
      height: 90px;
      background-color: #ddd;
      padding: 20px 40px;
      .input-box {
          width: 100%;
          display: flex;
          position: relative;
          &__text {
            position: relative;
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #020914;
            border-style: none;
          }
          &__image {
            color: black;
            position: absolute;
            top: 10px;
            right: 125px;
            font-size: 1.3rem;
            cursor: pointer;
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left:15px;
          background-color: $accent-color;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  #hidden{
    display: none;
  }

  .field_with_errors {
    width: 100%;
  }