.header {
  height: 24px;
  width: 100%;
  background-color: #38AEF0;
  &__flash-box {
    color: #fff;
    text-align: center;
  }
}

.chat-side {
  width: 300px;
  color: white;
  float: left;
  &__side-header{
    background-color: #253141;
    padding: 0 20px;
    height: 100px;
    align-items: center;
    display: flex;
    &__box{
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__menu {
        list-style: none;
        display: flex;
      }
    }
  }
  &__btn {
    color: white;
    margin-left: 0.3rem;
  }
  &__groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    &__group {
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
        font-weight: bold;
      }
      &__latest-message {
        font-size: 11px;

      }
    }
  }
}